page-tansections .button {
  box-shadow: none;
}

page-tansections .list-ios > .item-block:first-child {
  border: none;
}

page-tansections .Wait {
  color: #429cd6;
}

page-tansections .Allowed {
  color: #32db64;
}

page-tansections .Disallow {
  color: #f53d3d;
}
