
<ion-header>

  <ion-navbar color="primary">
    <ion-title>qrcode</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <!-- <div *ngIf="results">
        <p>{{results.text}}</p>
        <p>{{results.format}}</p>
        <p>{{results.cancelled}}</p>
    </div> -->

    <!-- <h1 *ngIf="qrcodeId">youId : {{qrcodeId}}</h1> -->
    <button ion-button color="dark" full round (click)="scan()">
        <ion-icon name="camera"></ion-icon>Scan QRcode        
    </button>
    <button ion-button color="dark"  full round (click)="endCode()">
        <ion-icon name="barcode"></ion-icon>Show QRcode
    </button>

</ion-content>
